<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{appName}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-plus"></i>
                        Cadastro
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-user-ninja"></i>
                                Cliente</a>
                        </li>
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-ghost"></i>
                                Usuario</a></li>
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-dolly"></i>
                                Fornecedor</a></li>
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-arrow-right-to-city"></i>
                                Empresa</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>